<div class = "row">
	<div class = "col-md-11 text-right"> <%= link_to "Dashboard", root_path %> | <%= link_to "Log Out", session_path(current_user), method: :delete %></div>
<h1>Welcome <%= @user.first_name%></h1>
</div>